html,
body,
#root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1; /* This makes the main content fill the remaining space */
  overflow-y: auto; /* Add scrollbars if content exceeds screen height */
}
